force-app/main/default/flows/Get_Campaign_Winner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Random_Number</name>
        <label>Calculate Random Number</label>
        <locationX>578</locationX>
        <locationY>205</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>randomNumberAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <elementReference>collectionSize</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>selectedIndex</assignToReference>
            <name>randomNumber</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Filter_Loot_Items_by_Campaign</name>
        <label>Filter Loot Items by Campaign</label>
        <locationX>409</locationX>
        <locationY>466</locationY>
        <actionName>FilterCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_of_loot_items</targetReference>
        </connector>
        <inputParameters>
            <name>filterField</name>
            <value>
                <stringValue>Prize__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceSelectedLootCollection</name>
            <value>
                <elementReference>allSelectedLootItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValuesStringCollection</name>
            <value>
                <elementReference>campaignPrizeItemIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>selectedLootItems</assignToReference>
            <name>filteredSelectedLootCollection</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Id_to_Collection</name>
        <label>Add Id to Collection</label>
        <locationX>44</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>campaignPrizeItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Campaign_Prize_Item_Holder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Prize_Item_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_of_loot_items</name>
        <label>Get # of loot items</label>
        <locationX>409</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>collectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>selectedLootItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Random_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Counter</name>
        <label>Increment Loop Counter</label>
        <locationX>631</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Loop_Counter_Random_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>randomNumberAssignment</name>
        <label>randomNumberAssignment</label>
        <locationX>684</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>selectedIndexVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedIndex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSelectedItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Loop_Counter_Random_Number</name>
        <label>Is Loop Counter = Random Number?</label>
        <locationX>882</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>loopSelectedItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>selectedIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Loot_Item</targetReference>
            </connector>
            <label>Match found</label>
        </rules>
    </decisions>
    <interviewLabel>Select Winner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Campaign Winner</label>
    <loops>
        <name>Get_Campaign_Prize_Item_Ids</name>
        <label>Get Campaign Prize Item Ids</label>
        <locationX>250</locationX>
        <locationY>219</locationY>
        <assignNextValueToReference>loop_Campaign_Prize_Item_Holder</assignNextValueToReference>
        <collectionReference>campaignPrizeItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Selections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedItems</name>
        <label>loopSelectedItems</label>
        <locationX>754</locationX>
        <locationY>205</locationY>
        <assignNextValueToReference>loopLootItem</assignNextValueToReference>
        <collectionReference>selectedLootItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Prize_Items</name>
        <label>Get Campaign Prize Items</label>
        <locationX>250</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Prize_Item_Ids</targetReference>
        </connector>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Campaign_Prize_Item__c</object>
        <outputReference>campaignPrizeItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Loot_Item</name>
        <label>Get Selected Loot Item</label>
        <locationX>1080</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopLootItem.Id</elementReference>
            </value>
        </filters>
        <object>Selected_Loot_Items__c</object>
        <outputReference>winningLootItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Participant__c</queriedFields>
        <queriedFields>Prize__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Selections</name>
        <label>Get User Selections</label>
        <locationX>249</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Loot_Items_by_Campaign</targetReference>
        </connector>
        <object>Selected_Loot_Items__c</object>
        <outputReference>allSelectedLootItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Prize__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Campaign_Prize_Items</startElementReference>
    <status>Draft</status>
    <variables>
        <name>allSelectedLootItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Selected_Loot_Items__c</objectType>
    </variables>
    <variables>
        <name>campaignPrizeItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignPrizeItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Prize_Item__c</objectType>
    </variables>
    <variables>
        <name>collectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cpiLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loop_Campaign_Prize_Item_Holder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign_Prize_Item__c</objectType>
    </variables>
    <variables>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loopLootItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Selected_Loot_Items__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedIndexVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedLootItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Selected_Loot_Items__c</objectType>
    </variables>
    <variables>
        <name>winningLootItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Selected_Loot_Items__c</objectType>
    </variables>
</Flow>
